body{
    background-image:url(Fire-1.jpg);
    text-align: center;
    font-family: Comic Sans MS;
    color: white;

}
#output{
    font-family: Comic Sans MS;

}
#newActions{
    font-family:"Comic Sans" ;

}